:root {
    --roxo-sujinho: #fefcff;
    --roxo-quistock: #723c90;
    --roxo2: #3e1554;
    --preto: #11021a;
    --azul: #7B4AE0;
}

*{
    font-family: Poppins;
    font-kerning: normal;
    letter-spacing: 0.0em;
    /*outline: 1px solid red;*/
    
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;

    cursor: default;
}

.body-gradiente {
    
    background: linear-gradient(
        to bottom,
        var(--roxo-quistock),
        var(--azul)
    );
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--roxo-quistock);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

::selection {
    background: #723c9040;
    color: var(--roxo2);
}

main{
    margin-top: clamp(3rem, 4.3vw, 10rem);
}

.section {
    height: calc(100dvh - 4.3vw);
    height: calc(100vh - 4.3vw);
    max-width: 100%;
}

#beneficios, #palataforma, #quem-somos {
    scroll-margin-top: clamp(3rem, 4.3vw, 10rem);
}

/* header */
header{
    background-color: var(--roxo-sujinho);
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: clamp(3rem, 4.3vw, 10rem);
    box-shadow: 0px 2px 4px #00000038;

    padding: 0 min(1.5rem, 3%);
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo{
    align-self: center;
    justify-self: flex-end;
    max-width: clamp(1rem, 15vw, 10rem);
    width: 100%;
    height: auto;
}

#logo:hover{
    cursor: pointer;
}

#botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    gap: clamp(1rem, 5vw, 5rem);
    font-size: clamp(0.5rem, 0.5vw + 0.5rem, 2rem)
}

#botoes a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    position: relative;
    transition: color 300ms ease;
}

#botoes a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 3px;
    background-color: #7B4AE0;
    border-radius: 2px;
    transition: width 300ms ease;
}

#botoes a:hover{
    color: #7B4AE0;
}

#botoes a:hover::after{
    width: 100%;
}

/* hero */
#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(0.5rem, 1.5vh, 2rem);

    width: 100%;
    padding: 0 min(4rem, 8%);

    box-sizing: border-box;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
}

#hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fefefe95;
    backdrop-filter: blur(6px);

}

#hero * {
    position: relative;
}

#hero div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero p {
    margin: 0;
    padding: 0;

    text-wrap: pretty;
    text-align: center;
}

#hero p:nth-child(1) {
    font-size: clamp(2rem, 3vw + 1rem, 70rem);
    font-weight: 600;
    line-height: 4.8rem;
    width: 70%;
    
    color: var(--roxo-quistock);
}

.span {
    color: #612383;
}

#hero p:nth-child(2) {
    font-size: clamp(0.75rem, 0.9vw + 0.5rem, 3rem);
    font-weight: 400;
    width: 50vw;
    padding: min(0.5rem, 2rem) 0;
}

#cta{
    border: 2px solid var(--roxo-quistock);
    background:
        linear-gradient(to right, var(--roxo-quistock), var(--azul));
    border-radius: 3rem;
    /*
    height: clamp(2.5rem, 4vw, 5vw);
    width: clamp(10rem, 22vw, 25rem);
    */
    
    padding: min(1rem, 4%) min(3rem, 6%);
    font-size: clamp(0.5rem, 0.75vw + 0.5rem, 10rem);
    text-decoration: none;
    font-weight: 500;
    color: var(--roxo-sujinho);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    transition: 500ms ease-in-out;

    position: relative;
    z-index: 1;
}

#cta::before {
    content: "";
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    background:
        linear-gradient(to left, var(--roxo-quistock), var(--azul));
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    border-radius: 3rem;
    z-index: -1;
}

#cta:hover::before {
    opacity: 1;
}

/* beneficios */
#beneficios {
    box-sizing: border-box;
    scroll-margin-top: clamp(3rem, 4.3vw, 10rem);
    padding: 0 min(4rem, 8%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: calc(100dvh - 4.3vw);
    flex-wrap: nowrap;
    gap: 5rem;
}

#beneficios * {
    padding: 0; margin: 0;
}

.titulo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.titulo-container > p:nth-child(1), .titulo-container > p:nth-child(2) {
    text-align: center;
    text-wrap: pretty;
}

.titulo-container > p:nth-child(1) {
    font-size: clamp(2rem, 2vw + 0.5rem, 10rem);
    font-weight: 600;
    width: 60vw;
    color: var(--roxo-sujinho);
}

.titulo-container > p:nth-child(1) span {
    color: #E5C9F5;
}

.titulo-container > p:nth-child(2) {
    font-size: clamp(0.5rem, 0.5vw + 0.5rem, 2rem);
    width: 50vw;
    color: var(--roxo-sujinho);
}

.container-caixas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 100%;
}

.caixa {
    background-color: var(--roxo-sujinho);
    aspect-ratio: unset;
    height: auto;
    min-width: 0;
    width: clamp(9rem, 20vw, 16rem);
    padding: min(1rem, 6%) !important;
    /*
    width: clamp(2vw, 20rem, 100vw);
    height: clamp(2vw, 15rem, 100vh);
    */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    border-radius: 1.5rem;
}

.titulo-caixa, .texto-caixa {
    text-align: center;
    text-wrap: pretty;
}

.titulo-caixa {
    font-size: clamp(1rem, 1vw + 0.5rem, 3rem);
    font-weight: 500;
    color: var(--roxo-quistock);
}

.texto-caixa {
    font-size: clamp(0.5rem, 0.5vw + 0.5rem, 1rem);
}

#domine{
        color: #790B88;
        font-style: normal;
        font-size: 45px;
        font-weight: 600;
}


@media screen and (max-width: 480px) {
    #hero p:nth-child(1) {
        width: 100%;
        line-height: 5.5vh;
    }

    #hero p:nth-child(2) {
        width: 100%;
    }

    .container-caixas {
        flex-direction: column;
    }

    .caixa {
        width: 35vw;
        padding: min(1rem, 6%) !important;
    }
}


#spam{
    width: 1000px;
    font-size: 45px;
    margin: auto;
    text-align: center;
    margin-top: 90px;
    font-weight: 600;
    color: #733c90e4;
    font-weight: 600;
}

#antes{
    font-weight: 600;
    color: #790B88;
}

#textoMonitore{
    display: flex;
    width: 700px;
    font-size: 2cap;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    font-weight: medium;
    color: #000000;
}


#plat{
    display: flex;
    margin-top: 310px;
    font-size: 45px;
    font-weight: 600;
    justify-content: center;
    color: #723c90;
}

#celular{
    margin-left: 522.5px ;
    width: 30%;
    margin-top: 100px;
}

#cta1{
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-left: 580px;
    margin-top: 100px;
    border: 2px solid transparent;
    background: linear-gradient(to right, #790B88, #7B4AE0);
    border-radius: 30px;
    height: 65px;
    width: 320px;
    font-size: 25px;
    background-size: 200% auto;
}

#cta1::before {
    content: "";
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    background: linear-gradient(to right, #7B4AE0, #790B88); /* Cor Invertida para o Hover */
    opacity: 0; /* Começa invisível */
    z-index: -1;
    transition: opacity 500ms ease-in-out; /* Transição de opacidade funciona perfeitamente! */
}

#cta1:hover::before {
    opacity: 1; /* Fica visível suavemente */
}

#cta1 a{
    color: #fff;
    text-decoration: none;
}

#fundoquemsomos img{
    display: flex;
    position: absolute;
    margin-top: 120px;
    justify-content: center;
    z-index: -1;
    width: 100%;
    height: 780px;
}

.textos_plat{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 27%;
    height: auto;
    margin-left: 5%;
    margin-top: -627px;
    color: #723c90;
    font-weight: 600;
}

.textos_plat2{
    display: flex;
    width: 30%;
    height: auto;
    flex-direction: column;
    align-items: start;
    margin-left: 65%;
    margin-top: 25px;
    color: #723c90;
    font-weight: 600;
}

.textos_plat h4{
    font-size: 22px;
    font-weight: 400;
}

.textos_plat h2{
    font-size: 32px;
    margin-bottom: -15px;
}


.textos_plat2 h4{
    font-size: 22px;
    font-weight: 400;
}

.textos_plat2 h2{
    margin-bottom: -15px;
    font-size: 32px;
}

#texto_quemSomos{
    width: 35%;
    margin-left: 5%;
    margin-top: 300px;
    color: #fff;
}

#texto_quemSomos h2{
    background: linear-gradient(to right, #F4E0FF, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    display: inline-block;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: -25px;
}

#texto_quemSomos h4{
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.05em;
}

#img_quemsomos{
    border-radius: 30px;
    width: 35%;
    margin-left: 60%;
    margin-top: -450px;
}

footer nav{
    margin-top: -250px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: larger;
}
footer nav h2{
    margin-bottom: 5px;
    font-size: 25px;

}
footer nav a{
    color: #723c90;
    text-decoration: none;
    font-size: 18px;
}

#links{
    margin-left: 50%;
}
.inicio{
    border: 2px solid transparent;
    width: 8%;
}
.beneficio{
    border: 2px solid transparent;
    width: 8%;
}
.plataforma{
    border: 2px solid transparent;
    width: 8%;
}
.quem{
    border: 2px solid transparent;
    width: 19%;
}

.inicio:hover{
    text-decoration: underline;
}
.beneficio:hover{
    text-decoration: underline;
}
.plataforma:hover{
    text-decoration: underline;
}
.quem:hover{
    text-decoration: underline;
}

#legal{
    margin-top: -240px;
    margin-left: 75%;
    margin-bottom: 180px;

}

.termos{
    border: 2px solid transparent;
    width: 40%;
}
.coockies{
    border: 2px solid transparent;
    width: 55%;
}
.privacidade{
    border: 2px solid transparent;
    width: 65%;
}

.termos:hover{
    text-decoration: underline;
}
.coockies:hover{
    text-decoration: underline;
}
.privacidade:hover{
    text-decoration: underline;
}

footer img{
    margin-left: 50px;
}

#logo1{
    margin-top: 310px;
    margin-bottom: 30px;
}

#email_pin{
    display: flex;
    flex-direction: column;
}

#email_pin img{
    width: 30px;
    margin-top: 20px;
}

#email_pin p{
    margin-left: 90px;
    margin-top: -30px;
    font-size: 18px;
    font-weight: 400;
}

#direitos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97.35%;
    border-top: 2px solid #5d5d5d;
    margin-top: 90px;
    padding: 20px;
    font-weight: 600;
}